<span>
	<img ng-src="{{ratingIconOn}}" ng-show="icons[0]">
	<img ng-src="{{ratingIconOff}}" ng-show="!icons[0]">
	<img ng-src="{{ratingIconOn}}" ng-show="icons[1]">
	<img ng-src="{{ratingIconOff}}" ng-show="!icons[1]">
	<img ng-src="{{ratingIconOn}}" ng-show="icons[2]">
	<img ng-src="{{ratingIconOff}}" ng-show="!icons[2]">
	<img ng-src="{{ratingIconOn}}" ng-show="icons[3]">
	<img ng-src="{{ratingIconOff}}" ng-show="!icons[3]">
	<img ng-src="{{ratingIconOn}}" ng-show="icons[4]">
	<img ng-src="{{ratingIconOff}}" ng-show="!icons[4]">
</span>