<div class="row">
	<div class="col-sm-4">
		<ul uib-pagination boundary-links="true" total-items="pagination.totalItems" max-size="pagination.pageSize" ng-model="pagination.page" class="pagination-sm" 
		previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
	</div>
	<div class="col-sm-8">
		<form class="form-inline margin-search">
  			<div class="form-group">
    			<label for="priceFrom">Price range</label>
    			<input type="number" class="form-control" id="priceFrom" ng-model="filter.priceFrom">
  			</div>
  			<div class="form-group">
    			<input type="number" class="form-control" id="priceTo" ng-model="filter.priceTo">
  			</div>
		</form>
   	</div>
</div>
<div ng-repeat="restaurant in restaurants">
	<div ng-class="{row: $index % 3 == 2, gray: $index % 2 == 0}">
		<div class="col-sm-4">
			<b><a ng-href ng-click="getMenu(restaurant)">{{restaurant.name}}</a></b>
			<p>{{restaurant.description}}</p>
			<p>
				<div>Rating: <span rating-icon-off="assets/img/star-empty.png" rating-icon-on="assets/img/star-full.png" rating="{{restaurant.rating}}"></span></div>
				<div>Price: <span rating-icon-off="assets/img/coin-empty.png" rating-icon-on="assets/img/coin-full.png" rating="{{restaurant.price}}"></span></div>
			</p>
		</div>
	</div>
</div>